# Files and directories only relevant to my local development area
.replit
*.sh
*.txt

# Files and directories added by Python
src/__pycache__
src/gen/__pycache__/

# Compiled files and directories
dist/
*.o
*.out
*.spec

# Possible future implementations
*.c
csrc/