# Files and directories only relevant to my local development area
.replit
*.sh
*.txt

# Files and directories added by Python
*/*/__pycache__/*

# Compiled files and directories
dist/
*.o
*.out
*.spec
